doctype html
html
    head
        link(href="./assets/estilosApic.css" rel='stylesheet')

    body
        div
            div.contenido
            textarea
            input
            button(onclick="enviarComando('asd')")="Enviar"
        div
            code#historial

        div#loading.elMeoLoading
            div.icon
        script( src="./assets/apic.js")
